<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(function() {
    		$('#login-submit').click(function() {

				myData = {
					'id': $('#login-id').val(),
					'password': $('#login-password').val()
				}


		        $.ajax({
		            type: 'POST',
		            url: '/api/auth/login',
		            data: JSON.stringify(myData),
		            contentType: "application/json",
		            dataType: 'json',

		            success: function(res) {
		            }
		        })
    		})
    	})
	</script>
</head>
<body>
	<h1>Login Page</h1>
	<div>
		<input id='login-id' name='id' type="text" /><br>
		<input id='login-password' name="password" type="text" />
		<input id='login-submit' type="submit" value="submit" />
	</div>
</body>
</html>
