<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript">

		$(function() {
    		$('#tts-submit').click(function() {

				text = $('#tts-text').val()
				wavName = $('#tts-name').val()
				ttsType = $('#tts-select').val()

				synthesizeWav(text, wavName, ttsType)
    		})
    	})

    	function synthesizeWav(text, wavName, ttsType) {
    		$('#mywav').hide()
    		
			myData = {
				'guid': sessionStorage['guid'],
				'wav_name': wavName,
				'text': text,
				'tts_type': Number(ttsType)
			}

	        $.ajax({
	            type: 'POST',
	            url: '/api/voice/tts',
	            data: JSON.stringify(myData),
	            contentType: "application/json",
	            dataType: 'json',

	            success: function(res) {
            		$('#mywav-source').attr('src', res['data']['wav'])
            		$('#mywav').show()
            		$('#mywav-fail').hide()
            		$('#mywav-player')[0].load()
            		$('#mywav-name').text(wavName)
	            },

	            error: function(xhr, status, error) {
	            	$('#mywav').hide()
            		$('#mywav-fail').show()
            		$('#mywav-fail').html(xhr.responseJSON['message'])
	            }
	        })
    	}

    	function getAllWav() {
    		myData = {
				'guid': sessionStorage['guid']
			}


	        $.ajax({
	            type: 'POST',
	            url: '/api/voice/getAllWav',
	            data: JSON.stringify(myData),
	            contentType: "application/json",
	            dataType: 'json',

	            success: function(res) {
	            	if (res['status']) {
	            		return res['response']['wavs']
	            	} else {
	            		return false
	            	}
	            }
	        })
    	}

    	function deleteWav(wavName) {
    		myData = {
				'guid': sessionStorage['guid'],
				'wav_name': wavName
			}


	        $.ajax({
	            type: 'POST',
	            url: '/api/voice/delete',
	            data: JSON.stringify(myData),
	            contentType: "application/json",
	            dataType: 'json',

	            success: function(res) {
	            	return res['status']
	            }
	        })
    	}
	</script>
</head>
<body>
	<h1>Speech Synthesis</h1>
	<div>
		<p>name</p><input id='tts-name' name="name" type="text" /><br>
		<p>text</p><input id='tts-text' name="text" type="text" /><br>
		<select id="tts-select">
			<option value=0>Mandarin(BZNSYP)</option>
			<option value=1>mary_ann(M-AILABS)</option>
		</select><br>
		<input id='tts-submit' type="submit" value="submit" />
	</div>

	<div class="wav-list">

	</div>

	<div id="mywav" style="display: none">
		<br>
		<h3 id="mywav-name">my synthsis wav</h3>
		<audio id="mywav-player" controls>
			<source id="mywav-source" src="" type="audio/wav">
		</audio>
		
	</div>
	<br>
	<div id="mywav-fail" style="background-color: red; color: white"></div>
</body>
</html>
	
