<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script type="text/javascript">

		$(function() {
    		$('#tts-submit').click(function() {

				myData = {
					'guid': $('#tts-guid').val(),
					'wav_name': $('#tts-name').val(),
					'text': $('#tts-text').val(),
					'tts_type': 0
				}


		        $.ajax({
		            type: 'POST',
		            url: '/api/voice/tts',
		            data: JSON.stringify(myData),
		            contentType: "application/json",
		            dataType: 'json',

		            success: function(res) {
		            	console.log(res['response']['wav'])
		            }
		        })
    		})
    	})
	</script>
</head>
<body>
	<h1>Tacotron Chinese Speech Synthesis</h1>
	<div>
		<p>guid</p><input id='tts-guid' name="guid" type="text" /><br>
		<p>text</p><input id='tts-text' name="text" type="text" /><br>
		<p>name</p><input id='tts-name' name="name" type="text" /><br>
		<input id='tts-submit' type="submit" value="submit" />
	</div>
</body>
</html>
	
