<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<meta charset="UTF-8">
	<title>
		Text-to-Speech
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
	<div class="nav">
		<a href="##"><button class="button">LOGO</button></a>
		<ul class="menu">
			<li><a href="##"><button class="button">Home</button></a></li>
			<li><a href="##"><button class="button">Technical Detail</button></a></li>
			<li><a href="##"><button class="button">Privacy Policy</button></a></li>
			<li><a href="##"><button class="button">About Us</button></a></li>
			<li><a href="{{url_for('login')}}"><button class="button">Login</button></a></li>
		</ul>
		<label for="burger" class="showmenu"><i class="fas fa-bars fa-3x"></i></label>
		<input type="checkbox" id="burger">

	</div>
	

	<div class="content">
		<div class="input-box">
			 <input type="text" id="text" placeholder="Type your sentence here..." />
			 <span class="icon" title="Send"><i class="fas fa-headphones fa-3x"></i> </span>
		</div>
		<a href="##"><button class="button enter">OK</button></a>
	</div>
		


</body>
</html>
